{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

          <section class="boxes">
              <a href="/literature" class="box">
                  <span class="fa fa-book-open"></span>
                  <h3>Literature</h3>
              </a>
              <a href="/tech" class="box">
                  <span class="fa fa-keyboard"></span>
                  <h3>Tech</h3>
              </a>
              <a href="https://mixcloud.com/panospet" class="box">
                  <span class="fab fa-mixcloud"></span>
                  <h3>Music</h3>
              </a>
              <a href="/page/about" class="box">
                  <span class="fa fa-male"></span>
                  <h3>About me</h3>
              </a>
          </section>



      </div>
    </div>
  </div>
{{ end }}
